{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <h1>About</h1>
      <p>Guess the Alias is a game developed for TigerHacks 2017. Team members Trevor Leach, Austin Sizemore,
         and Zachary Dobbs worked tirelessly to develop this application. Preach!</p>
    </div>
    <div class="row">
      <h3 class="center-align">The Hentai Foundation</h3>
      <div class="col m4 s12">
        <img src="static/img/trevor.png" alt="trevor" class="circle responsive-img">
        <p>Trevor Leach</p>
      </div>
      <div class="col m4 s12">
        <img src="static/img/austin.png" alt="austin" class="circle responsive-img">
        <p>Austin Sizemore</p>
      </div>
      <div class="col m4 s12">
        <img src="static/img/zach.png" alt="zach" class="circle responsive-img">
        <p>Zach Dobbs</p>
      </div>
    </div>
  </div>
{% endblock %}
