<!DOCTYPE html>
<html>
  <head>
    <title>Guess The Alias!</title>
    <meta charset="utf-8">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <div class="nav-wrapper">
         <a href="/" class="brand-logo"><i class="material-icons">face</i>Guess the Alias</a>
         <ul class="right hide-on-med-and-down">
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Materialize js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
