<!DOCTYPE html>
<html>
  <head>
    <title>Guess The Alias!</title>
    <meta charset="utf-8">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous"></script>
    <!-- Materialize js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <div class="nav-wrapper">
         <a href="#!" class="brand-logo"><i class="material-icons">face</i>GTA</a>
         <ul class="right hide-on-med-and-down">
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
    <% block body %>
    <% endblock %>
  </body>
</html>
