{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <p>Share this link with your fellow playmates</p>
      <div class="card-panel">
        <span>53xFI2</span>
      </div>
    </div>
    <div class="row">
      <h1>Current Players</h1>
      <p>Wait in this room until the moderator begins the game...</p>
      <!-- use ajax to keep current list going -->
      <!-- waiting... or start button - use session variable to check id? -->
      <div class="row">
        <div class="col m8 push-m2 s12">
          <ul class="collection with-header" id="playerList">
            <li class="collection-header"><h4>Player List</h4></li>
            <li class="collection-item">Jim</li>
            <li class="collection-item">Jeff</li>
            <li class="collection-item">Justin</li>
            <li class="collection-item">Jared</li>
          </ul>
        </div>
      </div>
      <div class="row">
        {% if moderator %}<a href="/play" class="btn-large waves-effect">Start Game</a>{% endif %}
        {% if !moderator %}
        <p>Please wait for the moderator to start the game</p>
        <img src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif" alt="waiting...">
        {% endif %}
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/room');
        socket.on('response', function(msg) {
            $('#playerList').append('<li class="collection-item">' + msg.name + '</li>');
        });
        $('form#broadcast').submit(function(event) {
            socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
            return false;
        });
    });
  </script>
{% endblock %}
