{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <h2>Lobby</h2>
      <p>Your room code</p>
      <div class="col m6 push-m3 s12">
        <div class="card-panel">
          <span id="waitCode">{{ code }}</span>
        </div>
      </div>
    </div>
      <div class="row">
        {% block wait %}
        {% endblock %}
      </div>
    </div>
  </div>
  <!--
  This was the socket io implementation.. not going to work with current Apache server setup
  <script>
    $(document).ready(function(){
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/room');
        socket.on('response', function(msg) {
            $('#playerList').append('<li class="collection-item">' + msg.name + '</li>');
        });
        $('form#broadcast').submit(function(event) {
            socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
            return false;
        });
    });
  </script>-->
  <script>
    // continuously check for game start, 1 second interval
    $(document).ready(function() {
      var status = setInterval(function() {
        $.ajax({
          url: '/getRoomState',
          type: get,
          data: {
            roomCode: {{ code }};
          },
          success: function(data) {
            if (data.roomState == 'setup') {
              window.location.replace("/");
            }
          }
        });
      }, 1000);
    });
  </script>
{% endblock %}
